html {
    background-image: linear-gradient(to bottom, darkblue, steelblue);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    font-family: 'Saira Semi Condensed', sans-serif;
    color: white;
    text-align: center;
}

html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}

header::after {
    content: '';
    width: 0;
    height: 0;
    border-left: solid 50vw maroon;
    border-right: solid 50vw maroon;
    border-bottom: solid 75px transparent;
    position: absolute;
    top: 0;
    left: 0;
}

header::before {
    content: '';
    width: 0;
    height: 0;
    border-left: solid 50vw maroon;
    border-right: solid 50vw maroon;
    border-bottom: solid 75px transparent;
    position: absolute;
    top: 0;
    right: 0;
}

/* body::after {
    content: '';
    width: 120%;
    height: 16%;
    transform: rotate(2deg);
    background-color: maroon;
    position: absolute;
    bottom: -5%;
    right: -10%;
} */

h1 {
    font-size: 4rem;
    margin-top: 180px;
    margin-bottom: 10px;
    line-height: 1;
    text-shadow: 4px 4px 12px black;
}

#conversion {
    font-size: 3rem;
}

form {
    width: fit-content;
    margin: 10px auto;
}

input {
    width: 100%;
    padding: 8px 6px;
    margin: 15px auto;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
}

select {
    padding: 4px 3px;
    margin-bottom: 10px;
}

button {
    padding: 6px 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    border: 4px outset gray;
}

button:active {
    border: 4px inset gray;
}

a,
a:visited {
    color: white;
}

footer::after {
    content: '';
    width: 0;
    height: 0;
    border-left: solid 50vw maroon;
    border-right: solid 50vw maroon;
    border-top: solid 75px transparent;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer::before {
    content: '';
    width: 0;
    height: 0;
    border-left: solid 50vw maroon;
    border-right: solid 50vw maroon;
    border-top: solid 75px transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}