html {
    background-image: linear-gradient(to bottom, darkblue, steelblue);
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Saira Semi Condensed', sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin-top: 120px;
    margin-bottom: 10px;
    line-height: 1;
}

form {
    width: fit-content;
    margin: 10px auto;
}

input {
    width: 100%;
    padding: 8px 6px;
    margin: 15px auto;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
}

select {
    padding: 4px 3px;
    margin-bottom: 10px;
}

button {
    padding: 6px 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    border: 4px outset gray;
}

button:active {
    border: 4px inset gray;
}